*{
    margin: 0;
    padding: 0;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
   
}


html::-webkit-scrollbar{
    display: none
}
body{
    height: 1000px;
    background-color: #080d11;
}
nav{
    background-color:  #080d11;
    display: flex;
    height: 55px;
}
#prime-logo{
    width: 85px;
    object-fit: contain;
    margin-left: 40px;
}
.Home{
    display: flex;
    color: #fff;
    margin-top: 15px;
}
.Main{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color:  #080d11;
    width: 350PX;
    align-items: center;
    margin-left: -210px;
}
.button{
    background-color:  #080d11;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 43px;
    font-size: 13px;
    font-weight: 50;
}
.button:hover{
    background-color: #fff;
    color: black;
}
.button:active{
    background-color: gray;
}
.image-1{
    width: 100%;
    height: 610px;
}
  

.bar-div{
    border-left: 1px solid rgb(121, 116, 116);
    height: 23px;
}
.text-div{
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 550px;
    margin-left: 70px;
    height: 385px;
    position: absolute;
    box-shadow: 54px -10px 45px rgba(0, 0, 0, 2);

}
.heading-1{
   margin-top: 40px;
   font-size: 20px;
   width: 500px;
}
.line-1{
    width: 500px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
}
.button-div{
    width: 400px;
}
.first_page{
    width: 100%;
    height: 480px;
    background-color: #0479d8;
}
.button-1, .button-2{
    background-color: #fff;
    color: #00050d;
    width: 230px;
    height: 60px;
    font-size: 19px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    font-weight: 600;
}
.button-1-div{
    width: 260px;
    height: 80px;
    
}
.text-div-2 {
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin-left: 70px;
    height: 640px;
    width: 550px;
    position: absolute;
    box-shadow: 54px -10px 45px rgba(0, 0, 0, 2);
}
.button-1:hover {
 transform: scale(1.020);
 transition: 0.4s;
}
.button-1:hover .span-btn-1{
    opacity: 0.4;
}
.button-2:hover .span-btn-2{
    opacity: 0.4;
}
.button-2:hover{
    transform: scale(1.020);
    transition: 0.4s;
}
.prime-sec-logo{
    width: 122px;
    margin-top: -100px;
}
.sec-page{
    
    position: relative;
}
.text-sec-div{
    color: #fff;
    width: 100px;
    height: 100px;
    background-color: #000000;
    position: absolute;
}
.button-2{
    width: 120px;
}
   
.text-div{
    padding-top: 20px;
}
.third-img{
    width: 542px;
    font-weight: 700;
    font-size: 45px;
}

.text-div-3{
    color: #fff;
    width: 640px;
    height: 399px;
    background-color: #080d11;
    padding-top: 100px;
    font-size: 20px;
    font-size: 20px;
    font-weight: 600px;
    margin-left: 75px;
    margin-top: -4px;
}
.text-div-3 p{
    font-size: 16px;
    margin-top: 49px;
    line-height: 26px;
    font-weight: 700;
}
.image-2{
    width: 100%;
}
.line-2{
    width: 500px;
    font-size: 17px;
    margin-top: 40px;
    font-weight: 600;
}
.heading-2{
    padding-top: 100px;
    font-size: 22px;
    width: 500px;
}

.Grid-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 523px;
    height: 359px;
    row-gap: 8px;
    column-gap: 8px;
    margin-top: 60px;
}
.Grid-img img:hover{
    box-shadow: 0px 0px 6px 4px rgb( 51, 51, 51);
}

.main-head-3{
    display: flex;
    width: 1000;
   
}
.Grid-img img{
    display: grid;
    width: 170px;
    height: 115px;
    border-radius: 10px;
}

.Subscription-div{
    margin-left: -290px;
    margin-top: 9px;
    display: flex;
    justify-content: center;
}
.Subscription-div button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: #080d11;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    padding-right: 10px;
    LETTER-SPACING: 1PX;
    margin-left: 45px;
}

   .Subscription-div p{
    padding-left: 10px;
   }
.Subscription-div button:hover{
    background-color: #fff;
    color: #000000;
}
.Sign-img{
    width: 30px;
}
.Join-button{
    background-color:  #0479d8;
    border: none;
    color: #fff;
    width: 90px;
    height: 38px;
    border-radius: 10px;
}

.Join-button:hover{
    box-shadow: 0px 0px 10px rgb(15, 131, 177)
}
.Right-section-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
}
.Search-button{
    width: 38px;
    height: 38PX;
    border-radius: 30px;
    border: none;
    background-color: #080d11;
    color: #fff;
}
.Search-button:hover{
    background-color: #fff;
    color: #000000;
}
.EN-button{
    color: #fff;
    width: 70px;
    background:  #080d11;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    font-size: 15.5px;
    border: none;
}
.EN-button:hover{
    background-color: #ffffff;
    color: #000000;
}

.Menu-icon-3-div{
    background: #080d11;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Menu-icon-3-div{
    background: #080d11;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
}

.Menu-icon-3{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Menu-icon-3-div:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);

}
.profile-img{
    width: 30px;
    border-radius: 15PX;
}

.profile-img:hover{
    background-color: #fff;
    border-radius: 80px;
    box-shadow: 0PX 0PX 1PX rgba(255, 0, 0, 0.925);
}

.footer-about{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
.main-about a:hover{
    color: #90dffe;
    
}
footer{
    background-color: #222222;
    height: 110px;
}
.about{
    color: #8197a4;
    font-size: 14px;
    
}
.main-about{
    margin-bottom: 20px;
}
.main-about a{
    color: #79b8f3;
    text-decoration: none;
    font-size: 15px;
    padding-left: 20px;
}
.footer p{
    font-size: 30px;
}